@page "/details/{PatientId:int}"
@using ThrombosisApp.Shared.Dto;
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http;

<PageTitle>Patient Details</PageTitle>



@if (patient == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Additional details for @patient.FirstName @patient.LastName</h1>
    <h3>Current INR Value: @patient.INR</h3>
    <h4>Detailed dosing information for the next 30 days</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Dose (mg/day)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dose in patient.DoseDescriptions)
            {
                <tr>
                    <td>@dose.Day</td>
                    <td>@dose.Dose</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int PatientId { get; set; }
    private PatientResponseDto? patient;
    protected override async Task OnInitializedAsync()
    {
        patient = await Http.GetFromJsonAsync<PatientResponseDto>($"https://localhost:5007/Patients/{PatientId}");
    }
}
